@model HTLElectronics.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}

<link href="~/Content/product_details.css" rel="stylesheet" />
@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />*@
<style>
    /*.myimg {
        width: auto;
        height: auto;
    }*/
   body{
       background-color:whitesmoke
   }

    .img_producto_container {
        width: 420px;
        height: 300px;
        position: relative;
        overflow: hidden;
        cursor: zoom-in;
    }

    .img_producto {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s ease-out;
    }
</style>
<div class="container-fluid" align="" >
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil" style="background-color:whitesmoke">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <div id="myCarousel-2" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                            @*<li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>*@
                        </ol>
                        <!--<div class="carousel-inner">-->
                        <!-- Slide 1 -->
                        <!--<div class="item active">
        <img src="~/Content/ProductImages/@Model.Image" class="img-fluid" style="height:300px;width:420px" alt="" />
    </div>-->
                        <!-- Slide 2 -->
                        <!--<div class="item">
        <img src="https://via.placeholder.com/700x400/87CEFA/000000" class="img-responsive" alt="" />
    </div>-->
                        <!-- Slide 3 -->
                        <!--<div class="item">
        <img src="https://via.placeholder.com/700x400/B0C4DE/000000" class="img-responsive" alt="" />
    </div>-->
                        <!--</div>-->
                <div class="img_producto_container" style="height:300px;width:460px"  data-scale="1.6">
                    <a class="dslc-lightbox-image img_producto"
                        href="#"
                        target="_self"
                        style="background-image: url('')">
                        <img src="~/Content/ProductImages/@Model.Image" class="img-fluid" style="height:auto;width:auto" alt="" />
                    </a>
                </div>

                        @*<a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
        <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>*@
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <h2 class="name">
                    @Model.Name
                    <small>Model: <a href="javascript:void(0);">@Model.ProductCode</a></small>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-muted"></i>
                    <span class="fa fa-2x"><h5>(109) Votes</h5></span>
                    @*<a href="javascript:void(0);">109 customer reviews</a>*@
                </h2>
                <hr />
                <h3 class="price-container">
                    <h3>Price :</h3>
                    <h3 style="color:orangered;font-weight:bolder">@Model.Price TK</h3>
                    @*<small>*includes tax</small>*@
                </h3>
                <div class="certified">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                        </li>
                    </ul>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-success btn-lg">View (@Model.Price)</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="btn-group pull-right">
                            <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist</button>
                            <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="description description-tabs">
                    <ul id="myTab" class="nav nav-pills">
                        <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Product Description </a></li>
                        <li class=""><a href="#specifications" data-toggle="tab">Specifications</a></li>
                        <li class=""><a href="#reviews" data-toggle="tab">Reviews</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="more-information">
                            <br />
                            <strong>Description Title</strong>
                            <p>
                                Integer egestas, orci id condimentum eleifend, nibh nisi pulvinar eros, vitae ornare massa neque ut orci. Nam aliquet lectus sed odio eleifend, at iaculis dolor egestas. Nunc elementum pellentesque augue
                                sodales porta. Etiam aliquet rutrum turpis, feugiat sodales ipsum consectetur nec.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="specifications">
                            <br />
                            <dl class="">
                                <dt>Gravina</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dd>Eget lacinia odio sem nec elit.</dd>
                                <br />

                                <dt>Test lists</dt>
                                <dd>A description list is perfect for defining terms.</dd>
                                <br />

                                <dt>Altra porta</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper</dd>
                            </dl>
                        </div>

                    </div>
                </div>*@
            <hr />
        </div>
    </div>
    <!-- end product -->
</div>

<div class="container-fluid product-single-tabs" style="">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show btn btn-dark" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
        </li>
        &nbsp;
        <li class="nav-item">
            <a class="nav-link btn btn-dark" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Specification</a>
        </li>
        &nbsp;
        <li class="nav-item">
            <a class="nav-link btn btn-dark" id="product-tab-warranty" data-toggle="tab" href="#product-warranty-content" role="tab" aria-controls="product-warranty-content" aria-selected="false">Warranty</a>
        </li>
        &nbsp;
        <li class="nav-item">
            <a class="nav-link btn btn-dark" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews</a>
        </li>
    </ul>
    <br />
    <div class="tab-content ">
        <div class="tab-pane fade active show" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
            <div class="product-desc-content" style="background-color:white;color:black">

                @Html.Raw(Model.Description)

            </div><!-- End .product-desc-content -->
        </div><!-- End .tab-pane -->

        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
            <div class="product-tags-content" style="background-color:white;color:black">

                @Html.Raw(Model.Specs)
            </div><!-- End .product-tags-content -->
        </div><!-- End .tab-pane -->

        <div class="tab-pane fade" id="product-warranty-content" role="tabpanel" aria-labelledby="product-tab-warranty">
            <div class="product-tags-content">

                @*<span id="ContentPlaceHolder1_lblWarrenty">05 Years Service Warranty &amp; 02 Years Panel, Parts &amp; Component Warranty </span>*@
                @Html.Raw(Model.Waarranty)
            </div>
        </div>


    </div>
    <!-- End .tab-content -->
</div>

<script>
    $(".img_producto_container")
        // tile mouse actions
        .on("mouseover", function () {
            $(this)
                .children(".img_producto")
                .css({ transform: "scale(" + $(this).attr("data-scale") + ")" });
        })
        .on("mouseout", function () {
            $(this)
                .children(".img_producto")
                .css({ transform: "scale(1)" });
        })
        .on("mousemove", function (e) {
            $(this)
                .children(".img_producto")
                .css({
                    "transform-origin":
                        ((e.pageX - $(this).offset().left) / $(this).width()) * 100 +
                        "% " +
                        ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +
                        "%"
                });
        });
</script>
