@model HTLElectronics.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}

<link href="~/Content/product_details.css" rel="stylesheet" />
@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />*@
@*<style>

    </style>*@
<div class="container">
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <div id="myCarousel-2" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                            @*<li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                        <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>*@
                        </ol>
                        <div class="carousel-inner">
                            <!-- Slide 1 -->
                            <div class="item active">
                                <img src="~/Content/ProductImages/@Model.Image" class="img-fluid" style="height:300px;width:420px" alt="" />
                            </div>
                            <!-- Slide 2 -->
                            <!--<div class="item">
                        <img src="https://via.placeholder.com/700x400/87CEFA/000000" class="img-responsive" alt="" />
                    </div>-->
                            <!-- Slide 3 -->
                            <!--<div class="item">
                        <img src="https://via.placeholder.com/700x400/B0C4DE/000000" class="img-responsive" alt="" />
                    </div>-->
                        </div>
                        @*<a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                    <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>*@
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <h2 class="name">
                    @Model.Name
                    <small>Model: <a href="javascript:void(0);">@Model.ProductCode</a></small>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-primary"></i>
                    <i class="fa fa-star fa-2x text-muted"></i>
                    <span class="fa fa-2x"><h5>(109) Votes</h5></span>
                    @*<a href="javascript:void(0);">109 customer reviews</a>*@
                </h2>
                <hr />
                <h3 class="price-container">
                    <h3>Price :</h3>
                    <h3 style="color:orangered;font-weight:bolder">@Model.Price TK</h3>
                    @*<small>*includes tax</small>*@
                </h3>
                <div class="certified">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                        </li>
                    </ul>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a href="javascript:void(0);" class="btn btn-success btn-lg">View (@Model.Price)</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="btn-group pull-right">
                            <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist</button>
                            <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="description description-tabs">
                <ul id="myTab" class="nav nav-pills">
                    <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Product Description </a></li>
                    <li class=""><a href="#specifications" data-toggle="tab">Specifications</a></li>
                    <li class=""><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="more-information">
                        <br />
                        <strong>Description Title</strong>
                        <p>
                            Integer egestas, orci id condimentum eleifend, nibh nisi pulvinar eros, vitae ornare massa neque ut orci. Nam aliquet lectus sed odio eleifend, at iaculis dolor egestas. Nunc elementum pellentesque augue
                            sodales porta. Etiam aliquet rutrum turpis, feugiat sodales ipsum consectetur nec.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="specifications">
                        <br />
                        <dl class="">
                            <dt>Gravina</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dd>Eget lacinia odio sem nec elit.</dd>
                            <br />

                            <dt>Test lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <br />

                            <dt>Altra porta</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper</dd>
                        </dl>
                    </div>
                    
                </div>
            </div>*@
            <hr />
        </div>
    </div>
    <!-- end product -->
</div>

<div class="product-single-tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Specification</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="product-tab-warranty" data-toggle="tab" href="#product-warranty-content" role="tab" aria-controls="product-warranty-content" aria-selected="false">Warranty</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
            <div class="product-desc-content" style="background-color:white;color:black">

                @Html.Raw(Model.Description)
                
            </div><!-- End .product-desc-content -->
        </div><!-- End .tab-pane -->

        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
            <div class="product-tags-content" style="background-color:white;color:black">

                @Html.Raw(Model.Specs)                
            </div><!-- End .product-tags-content -->
        </div><!-- End .tab-pane -->

        <div class="tab-pane fade" id="product-warranty-content" role="tabpanel" aria-labelledby="product-tab-warranty">
            <div class="product-tags-content">

                @*<span id="ContentPlaceHolder1_lblWarrenty">05 Years Service Warranty &amp; 02 Years Panel, Parts &amp; Component Warranty </span>*@
                @Html.Raw(Model.Waarranty)
            </div> 
        </div>
        <!-- ----------------------- Start Review --------------------------- -->
        <!--<div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
            <div class="product-reviews-content">
                <div class="collateral-box">
                    <ul>
                        <li>Be the first to review this product</li>
                    </ul>
                </div>--><!-- End .collateral-box -->

                <!--<div class="add-product-review">
                    <h3 class="text-uppercase heading-text-color font-weight-semibold">WRITE YOUR OWN REVIEW</h3>
                    <p>How do you rate this product? *</p>


                    <table class="ratings-table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>1 star</th>
                                <th>2 stars</th>
                                <th>3 stars</th>
                                <th>4 stars</th>
                                <th>5 stars</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Your Rating</td>
                                <td>-->
                                    <!-- <input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio"> -->
                                    <!--<span class="radio"><input id="ContentPlaceHolder1_RadioButton1" type="radio" name="ctl00$ContentPlaceHolder1$RadioButton1" value="RadioButton1"></span>
                                </td>
                                <td>-->
                                    <!-- <input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio"> -->
                                    <!--<span class="radio"><input id="ContentPlaceHolder1_RadioButton2" type="radio" name="ctl00$ContentPlaceHolder1$RadioButton2" value="RadioButton2"></span>
                                </td>
                                <td>-->
                                    <!-- <input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio"> -->
                                    <!--<span class="radio"><input id="ContentPlaceHolder1_RadioButton3" type="radio" name="ctl00$ContentPlaceHolder1$RadioButton3" value="RadioButton3"></span>
                                </td>
                                <td>-->
                                    <!-- <input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio">-->
                                    <!--<span class="radio"><input id="ContentPlaceHolder1_RadioButton4" type="radio" name="ctl00$ContentPlaceHolder1$RadioButton4" value="RadioButton4"></span>
                                </td>
                                <td>-->
                                    <!-- <input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio"> -->
                                    <!--<span class="radio"><input id="ContentPlaceHolder1_RadioButton5" type="radio" name="ctl00$ContentPlaceHolder1$RadioButton5" value="RadioButton5" checked="checked"></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="form-group">
                        <label>Full Name <span class="required">*</span></label>-->
                        <!--
                        <input type="text" class="form-control form-control-sm" required>
                        -->
                        <!--<input name="ctl00$ContentPlaceHolder1$txtName" type="text" id="ContentPlaceHolder1_txtName" class="form-control form-control-sm">
                    </div>--><!-- End .form-group -->

                    <!--<div class="form-group">
                        <label>Email Address <span class="required">*</span></label>
                        <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" id="ContentPlaceHolder1_txtEmail" class="form-control form-control-sm">
                    </div>--><!-- End .form-group -->

                    <!--<div class="form-group">
                        <label>Summary of Your Review <span class="required">*</span></label>
                        <input name="ctl00$ContentPlaceHolder1$txtSub" type="text" id="ContentPlaceHolder1_txtSub" class="form-control form-control-sm">
                    </div>--><!-- End .form-group -->

                    <!--<div class="form-group mb-2">
                        <label>Review <span class="required">*</span></label>-->
                        <!--
                        <textarea cols="5" rows="6" class="form-control form-control-sm"></textarea>
                        -->
                        <!--<textarea name="ctl00$ContentPlaceHolder1$txtReview" rows="2" cols="20" id="ContentPlaceHolder1_txtReview" class="form-control form-control-sm"></textarea>

                    </div>--><!-- End .form-group -->

                    <!--<input type="submit" name="ctl00$ContentPlaceHolder1$btnSubmit" value="Submit Review" id="ContentPlaceHolder1_btnSubmit" class="btn btn-primary">-->

                    <!--
                    <input type="submit" class="btn btn-primary" value="Submit Review">
                    -->

                <!--</div>-->
                <!-- End .add-product-review -->

            <!--</div>-->
            <!-- End .product-reviews-content -->

        <!--</div>-->
        <!-- End .tab-pane -->
        <!-- ----------------------- End Review ----------------------------- -->

    </div>
    <!-- End .tab-content -->
</div>